{{!< default}}


<div class="container-md">
  <div class="page-intro text-center">
    <h1 class="page-title">Doctors</h1>
    <p class="lead">Sehat Kahani | Pakistan's Best Online Medical Opinion Portal.<a href="/join" class="js-auth-trigger"> </a>
    </p>Stay in the loop - &nbsp<a href="http://facebook.com/mashwarapk" target="_blank">Follow us on Facebook </a>
  </div>
</div>

<div class="page-intro">
  <div class="container text-center">
    <a href="/joinDoc" class="btn btn-lg btn btn-primary mv-1">Register As a Doctor</a>
  </div>
</div>