{{!< default}}
<div class="container">
	<div class="jumbotron"><img src="/images/logo.svg" width="160">
		<div style="text-align: center">
			<h2>SEHAT KAHANI</h2>
			<h2>Welcome to the best Health Care Portal</h2>
		</div>
	</div>
</div>
