{{!< default}}


<div class="container-md">
  <div class="page-intro text-center">
    <h1 class="page-title">Patients</h1>
    <p class="lead">Sehat Kahani | Pakistan's Best Online Medical Opinion Portal.<a href="/join" class="js-auth-trigger"> </a>
    </p>Stay in the loop - &nbsp<a href="http://facebook.com/mashwarapk" target="_blank">Follow us on Facebook </a>
  </div>
</div>
<div class="page-intro">
  <div class="container text-center">
    <div class="buttons"><br/><a href="/join" class="js-auth-trigger btn btn-lg btn btn-primary mv-1">Become our Member</a> <a href="" class="btn btn-lg btn btn-primary mv-1">Get Appointment</a>
    </div>
  </div>
</div>