{{!< default}}

<div class="container">
  <h2 style="text-align: center">Hi {{user.name.first}}, Welcome to your DASHBOARD!</h2><br/><br/>
  <p>Our <b>Expert Opinion</b> and <b>e-Health records</b> are degisned to help you improve patients health by getting all these related information through our protal without the hassle of complicated medical procedures.</p><br/>
</div>