{{!< default}}

<div class="container">
  <h2 style="text-align: center">Hi {{user.name.first}}, Welcome to your DASHBOARD!</h2><br/><br/>
  <p>Our <b>Expert Opinion</b> and <b>e-Health records</b> are degisned to help you improve your health by managing your health profile, keeping records of your health all along without the hassle of complicated medical procedures.</p><br/>
  <div class="page-content tile ph-5 pv-2 mb-2">
      <div class="container-fluid">
        <div class="div col-md-9">
          <div style="display: block;margin: 0% 1% 2% 1%;box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;width:38%;height: 200px;background-color:#efefef; padding:2%" class="div col-md-3">
            <div class="row">
              <div class="col-md-8">
                <h3><a href="healthForm">Health Profile</a></h3>
              </div>
              <div class="col-md-4"><img src="/images/Dashboard/book.png" alt="Generic placeholder thumbnail" style="height: 64px;width:64px;" class="img-responsive"/></div>
            </div><br/>
            <p>
              Make up your health profile to analyze your condition.
              Fill a questionare to give an idea of your activity level, allergies and medical condtions.
            </p>
          </div>
        </div>

      <div class="div col-md-9">
        <div style="display: block;margin: 0% 1% 2% 1%;box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;width:38%;height: 200px;background-color:#efefef; padding:2%" class="div col-md-3">
          <div class="row">
            <div class="col-md-8">
              <h3><a href="healthForm">Appointment Vault</a></h3>
            </div>
            <div class="col-md-4"><img src="/images/Dashboard/book.png" alt="Generic placeholder thumbnail" style="height: 64px;width:64px;" class="img-responsive"/></div>
          </div><br/>
          <p>
            View your current appointments
          </p>
        </div>
      </div>
      <div class="div col-md-9">
        <div style="display: block;margin: 0% 1% 2% 1%;box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;width:38%;height: 200px;background-color:#efefef; padding:2%" class="div col-md-3">
          <div class="row">
            <div class="col-md-8">
              <h3><a href="healthForm">Request For an Appointment</a></h3>
            </div>
            <div class="col-md-4"><img src="/images/Dashboard/book.png" alt="Generic placeholder thumbnail" style="height: 64px;width:64px;" class="img-responsive"/></div>
          </div><br/>
          <p>
            Get in touch with patients through appoitnments
          </p>
        </div>
      </div>
  </div>
</div>