{{!< default}}

<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h3 style="text-align:center" class="page-header">Hi {{user.name.first}}, WELCOME to Request Appointment Form</h3><br/>
    <div class="form-group">
      <label class="col-md-3">Appointment Description</label>
      <div class="col-md-9">
        <textarea name="description" rows="5" class="form-control"></textarea>
      </div>
    </div>
    <div class ="row"></div>
    <div class="form-group">
      <label class="col-md-3">Doctor's Speciality</label>
      <div class="col-md-9">
        <select name="speciality" class="form-control">
        	<option value ="">-- Select an option --</option>
        	<option value="Cardiology"> Cardiology </option>
			<option value="Neurology"> Neurology </option>
			<option value="Pathology"> Pathology </option>
    	</select>
      </div>
    </div>
    <div class ="row"></div>
    <div class="form-group">
		<label class="col-md-3">Select Medical Expert</label>
		<div class="col-md-9">
			<select name="DoctorId" class="form-control">
				<option value="">-- Select from the list --</option>
				{{#each doctors}}
					<option value="doctor.UserId">{{doctor.name}} | Neurology</option>
				{{/each}}
			</select>

		</div>
	</div>
	</div>
  </div>
</div>
